# Databases Configs
AUTH_DB_NAME=example
ORDER_DB_NAME=example
INVENTORY_DB_NAME=example
WAREHOUSE_DB_NAME=example
DB_USER=example
DB_PASSWORD=example

# Security Conifgs
JWT_SECRET=example
PASSWORD_ENCODING_PEPPER=example

#AWS Configs
SPRING_CLOUD_AWS_REGION_STATIC=example
AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example

# SNS topic ARNs
ORDER_CREATED_TOPIC_ARN=example
ORDER_STATUS_TOPIC_ARN=example
INVENTORY_ALLOCATED_TOPIC_ARN=example
SHIPMENT_RECEIVED_TOPIC_ARN=example